Header {
    color: white;
}

header a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem
}

nav {
    background-color: pink;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

li{
    padding: 1rem;
}

img.logo{
    max-width: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    max-height: 11rem;     
    }

h1 {
    font-family: sans-serif;
    text-align: center; 
}

#homepagina{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#homepagina li{
    background-color: rgba(95, 158, 160, 0.5);
}

li p{
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
}

#foodtruckfoto{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
